@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Reglas */
* {
    margin: 0%;
    padding: 0%;
}

.Registro-Login {
    /* Registro */

    .Login-Registro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }

    /* Contenido */

    /* Registro/login */
    .content {
        display: grid;
        position: relative;
        grid-template-rows: 10vh 10vh 80vh;
    }



    /* Imagenes*/
    .Flogo {
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;

    }

    .tlogo {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        grid-row: 1;
    }

    .textlogo {
        margin-top: 5%;
        height: 80px;
        z-index: 20;
    }

    /* Texto/Form/botones */
    .tittleLogin {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        grid-row: 2;
        font-size: 3.6em;
        color: #9c9c9c;
    }
    /* Estilos para el formulario */

    .formRegistroLogin {
        position: relative;
        grid-row: 3;
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .inputLogin {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #d9d9d940;
        border: 1px solid black;
        border-style: inset;
        margin-bottom: 15px;
        text-align: center;
        width: 310px;
        height: 50px;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 1.8em;
    }

    .pswrdInput {
        display: flex;
        position: absolute;
        background-color: #d9d9d900;
        border: 0px;
        border-style: inset;
        text-align: center;
        width: 310px;
        height: 50px;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 1em;
    }

    /* Botones */
    .showInput {
        display: none;
    }

    .pswrdLabel {
        display: flex;
        position: absolute;
        justify-content: center;
        margin-right: 5px;
        z-index: 20;
        cursor: pointer;
    }
    /* Estilos para los botones */

    .botonesBox {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        grid-row: 4;
    }

    .btnLoginRegistro {
        z-index: 20;
        cursor: pointer;
        border: 0px;
        margin: 5px;
        color: black;
        font-family: "Oswald";
        font-size: 1.8em;
        width: 310px;
        height: 50px;
        background-color: #d9d9d9;
    }

    /* .U:A */
    .btnLoginRegistro:hover {
        background-color: #2ECC72;
        cursor: pointer;
    }

    input::placeholder {
        color: #00000084;
        text-align: center;
        font-family: "Oswald";
        font-weight: 700;
        margin-top: 5px;
        font-size: 1.9rem;
    }

    input:focus-visible {
        outline-color: #2ECC72;
    }
}

/* MODAL */
.modal-overlay {
    position: fixed;
    width: 110vw;
    height: 110vh;
    z-index: 60;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #d9d9d9;
    border: 1px solid black;
    grid-template-rows: 12% 70% 20%;
    width: 315px;
    height: 600px;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}


/* Label para el checkbox PrivacyPolitics */
#privacyLabel {
    border-bottom: 0.5px solid black;
    padding-right: 5px;
    cursor: pointer;
}

#btnReadTerms {
    border: none;
    padding-left: 5px;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    font-size: 1.4em
}
/* Politicas de Privacidad */
.termsConditions {
    grid-row: 1;
    align-self: center;
    justify-self: center;
    overflow-y: scroll;
    width: 315px;
    height: 400px;
}
.selectBox {
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.botonesModal {
    background-color: #2ECC72;
    flex-direction: column;
    width: 315px;
    height: 30px;
    font-size: 1.8em;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
}


/* MediaQueries */

@media (min-width: 768px) {

    /* Registro-Login */
    .content {
        grid-template-columns: 50vw 50vw;
    }

    .Flogo {
        grid-column: 1;
        background-color: #d9d9d9;
        height: 100vh;
        background-image: url("../IMG/LogoOwlSTR.svg");
        background-position: center;
        background-attachment: absolute;
        background-repeat: no-repeat;
        background-size: 400px 400px;
    }

    .tlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        height: 60px;
        grid-row: 1;
        grid-column: 2;
    }

    .tittleLogin {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        grid-column: 2;
        grid-row: 2;
        font-size: 3.6em;
        color: #9c9c9c;
    }

    .botones {
        grid-column: 2;
    }

    .formRegistroLogin {
        display: flex;
        position: relative;
        grid-column: 2;
        grid-row: 3;
        align-items: center;
        justify-content: center;
    }

    .Registro-Login {
        grid-column: 2;
        grid-row: 3;
        position: relative;
        flex-direction: column;
        z-index: 20;
    }

    /* Modal */

    .modal {
        width: 750px;
        height: 540px;
    }

}